# Core dependencies
streamlit
google-generativeai
pdfplumber
python-pptx
python-docx
numpy==1.23.5
tqdm
Pillow
python-dotenv
duckduckgo-search
yt_dlp

# PyTorch (removing explicit CPU index URL)
torch==2.6.0
torchvision==0.15.2
torchaudio==2.0.2

# NLP & Transformers
spacy==3.7.2
thinc==8.2.1
transformers==4.50.2
tokenizers
ctransformers
langchain
langchain-google-genai
langchain-community

# Install spaCy Model
spacy[en_core_web_sm] @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
