google-generativeai
pdfplumber
python-pptx
python-docx
typing
torch
spacy
numpy
transformers
tokenizers
tqdm
keyboard
Pillow
langchain
langchain-google-genai
python-dotenv
googlesearch-python
ctransformers   
streamlit
duckduckgo-search
langchain-community
youtube-search
pytube
yt_dlp
# Installing the specific spaCy model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
